<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-6">
	 	<div class="thumbnail">
			<%= image_tag @listing.image.url(:medium) %>
		</div>
	</div>

	<div class="col-md-6">
 		<h1>
 			<%= @listing.name %>
 		</h1>

		<h2>
			<%= number_to_currency(@listing.price) %> 
		</h2>

		<h4>
			<%= @listing.description %>
		</h4>
	</div>
</div>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
